/* SITE-WIDE AND DEFAULTS*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* The small caps used, especially in the logo */
.site-brand {
    font-family: 'Roboto Mono', monospace;
    font-variant: small-caps;
}

.fa-input {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Navbar recolors link of current page */
.current-page a {
    color: #ff9900 !important;
}
.current-page a:hover {
    color: #cc7a00 !important;
}



/* MOBILE-FIRST RESPONSIVE DESIGN */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
        padding-left:200px;
    }
}

/* Get rid of Ye Ole Chat Boxe on smaller screens */
@media screen and (max-width: 767px) {
    #chatBar {
        visibility: hidden;
    }
}



/* CHATBAR THINGS */

#chatBar {
    display: none;
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    visibility: visible;
    padding-left: 0px;
    margin-top: 0px;
    top: 50px;
}

#chatToggle {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

/* folder bullet */
.li-chatbox-folder:before {
    font-family: 'FontAwesome';
    content: '\f07c';
    margin: 0 5px 0 -15px;
    color: #ffff77;
}

/* user bullet */
.li-chatbox-user:before {
    font-family: 'FontAwesome';
    content: '\f2bc';
    margin: 0 5px 0 -15px;
    color: #f2f2f2;
}

/* group bullet */
.li-chatbox-group:before {
    font-family: 'FontAwesome';
    content: '\f233';
    margin: 0 5px 0 -15px;
    color: #f2f2f2;
}

/* chatbox */
.li-chatbox a {
    color: #bfbfbf;
}

.li-chatbox a:hover {
    color: rgba(191, 191, 191, 0.75);
    font-style: italic;
    text-decoration: underline;
}

.wantstochat {
    font-size: small;
    color: #19ff65;
}


/* CHAT FUNCTIONALITY */

#HiddenNameLabel {
    visibility: hidden;
}

#chatEntry {
    color: #000000;
    max-width: none;
}

.chatter {
    /* The usernames of the chat interlocutors */
    font-weight: bold;
    color: #ff9900;
}

#outgoingUser {
    /* Header for one's fellow chatter*/
    font-size: xx-large;
    text-transform: uppercase;
}

.joinedchat {
    /* Poorly named, but this refers to all chat announcements*/
    font-style: italic;
    color: rgba(191, 191, 191, 0.75);
}

#chatIncoming {
    /* Also poorly named, but this is the entire chat panel */
    /* Extra long words should wrap to the next line */
    word-wrap: break-word;
}



/* MODALS AND OTHER FUN WITH BUTTONS*/

/* minor tweaks for post and log out buttons */
.btn {
    transition: all .2s ease-in;
}
.btn-primary, .btn-danger, btn-info {
    color: #fff;
}
.btn-margins {
    margin-left: 10px;
}
.btn-danger {
    background-color: #404040;
    border-color: #404040;
}
.btn-danger:hover, btn-danger:focus {
    background-color: #303030;
}
.btn-info {
    background-color: #808080;
    border-color: #808080;
}
.btn-info:hover, btn-info:focus {
    background-color: #707070;
    color: #fff;
    border-color: #707070;
}

.modal {
    color: #191919;
}

#WriteTextBox {
    /* Targets the text component box of the posting modal */
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
}

#WriteCodeBox {
    /* Targets the code component box of the posting modal */
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/*#CodePreviewPanel {
    max-width: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
}*/



/* POSTS IN FEEDS */

.post-container {
    background-color: #555555;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px;
}
.comment-post {
    background-color: #333333 !important;
    margin-left: 50px;
}

.comment-post .text-content {
    font-style: italic;
}

.comment-indicator {
    font-size: 400%;
    float: left;
    font-weight: bold;
    letter-spacing: -20px;
    margin-right: 15px;
}

.avatar {
	min-height: 24px;
	max-height: 96px;
	min-width: 24px;
	max-width: 96px;
    border-radius: 20px;
    margin: 10px;
}

.user-info {
    /* The user info attached to each post */
    font-size: 300%;
    font-variant: small-caps;
    font-weight: bold;
}

.text-content {
    /* The text component of each post */
    font-size: 125%;
    padding: 10px 10px 10px 10px;
}

.img-content, .post-image {
    /* The image component of posts */
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.timestamp-label {
    margin: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.load-comments-button {
    margin: 10px;
}
.reply-button {
    margin: 10px;
}

/* Formatting for GitHub posts that appear in feed */
.git-content {
    font-style: italic;
    padding: 10px 10px 10px 10px;
    color: rgba(255, 255, 255, 0.75);
}


/* PROFILE HEADERS */
#ProfilePanel, .info-panel {
    background-color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px 20px;
}
.info-biopic {
    min-height: 100%;
    max-width: 33%;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}
.info-realname {
    font-size: 500%;
    text-transform: uppercase;
}
.info-username, .info-git-logo, .info-about {
    display: block;
    font-size: x-large;
}

.info-username, .info-git-logo, .info-gitname, .info-about {
    color: rgba(242, 242, 242, 0.75);
}
.info-sidepanel {
    padding-left: 20px;
    /*vertical-align: middle;*/
    padding-top: 20px;
    word-wrap: normal;
}
.info-username {
    font-variant: small-caps;
    font-size: xx-large;
}
.float-clear {
    clear: both;
}
.info-gitname {
    font-size: larger;
}